.gradle/
bin/
*.o
arx.exe
obj/
src\ARX.layout
gradlew
*.layout
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
Images/color pallet.pal
src/ARX.layout
src/ARX.layout
/Librarys
/x64/Debug
/Debug
/.vs
/src/.vs
/src/Debug
/src/x64/Debug
/src/Release
release/.gitattributes
