.gradle/
bin/
*.o
arx.exe
obj/
src\ARX.layout
gradlew
*.layout
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
Images/color pallet.pal
src/ARX.layout
src/ARX.layout
/Librarys
/x64/Debug
/Debug
/.vs
/src/.vs
/src/Debug
/src/x64/Debug
/src/Release
release/.gitattributes
release/AR_X_0.83.2.zip
release/AR_X_0.83.2.zip
release/AR_X_0.83.zip
release/AR_X_0.83.2.zip
release/AR_X_0.83.3.zip
/src/data/map/WildernessXLSCells.xlsm
/src/ARXX/Release/ARXX.tlog
